<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mower">

  <!-- 
    Autonomous Mower Robot Description - Main Assembly File
    
    This is the main URDF/XACRO file that assembles the complete mower robot
    from modular component files. This modular approach provides:
    
    - Better maintainability: Each component can be modified independently
    - Improved reusability: Components can be reused in different configurations
    - Enhanced clarity: Logical separation makes the model easier to understand
    - Better collaboration: Multiple developers can work on different components
    - Easy customization: Components can be easily swapped or modified
    
    Component Structure:
    - materials.xacro: Material definitions and colors
    - chassis.xacro: Main body structure and counterweight
    - wheels.xacro: Drive wheels and their joints
    - cutting_system.xacro: Reel, front roller, and motor components
    - ros2_control.xacro: Control interfaces for simulation and hardware
  -->

  <!-- Include all component files -->
  <xacro:include filename="$(find mower_description)/urdf/components/properties.xacro"/>
  <xacro:include filename="$(find mower_description)/urdf/components/materials.xacro"/>
  <xacro:include filename="$(find mower_description)/urdf/components/chassis.xacro"/>
  <xacro:include filename="$(find mower_description)/urdf/components/wheels.xacro"/>
  <xacro:include filename="$(find mower_description)/urdf/components/cutting_system.xacro"/>
  <xacro:include filename="$(find mower_description)/urdf/components/sensors.xacro"/>
  <xacro:include filename="$(find mower_description)/urdf/components/ros2_control.xacro"/>

</robot>
